* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f0f0f0;
}

input {
    font-size: 15px;
    background: #fff;
    color: #777;
}

.btn {
    padding: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn-primary {
    background: #7b3fe4;
    color: white;
}

.purple-pointer {
    color: #7b3fe4;
    cursor: pointer;
}